<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET uygulamanızı nasıl yapılandıracağınız hakkında daha fazla bilgi için lütfen şu adresi ziyaret edin:
   https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
	  <authentication mode="Forms">
		  <forms name=".ASPXAUTH" loginUrl="kullanici_giris_uye.aspx" defaultUrl="anasayfa.aspx" timeout="30" protection="All" cookieless="AutoDetect" path="/" requireSSL="false" slidingExpiration="true" enableCrossAppRedirects="false"></forms>
	  </authentication>
	  <membership defaultProvider="codingshop">
		  <providers>
			  <add name="codingshop"
				  type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
				  connectionStringName="codingshop"
				  enablePasswordRetrieval="false"
				  enablePasswordReset="true"
				  requiresQuestionAndAnswer="true"
				  applicationName="/"
				  requiresUniqueEmail="true"
				  passwordFormat="Clear"
				  maxInvalidPasswordAttempts="3"
				  minRequiredPasswordLength="5"
				  minRequiredNonalphanumericCharacters="1"
				  passwordAttemptWindow="10"
				  passwordStrengthRegularExpression=""/>
		  </providers>
	  </membership>
	  <pages enableEventValidation="false"></pages>
	  <roleManager enabled="true" cacheRolesInCookie="true" cookieName=".ASPXROLES" cookieTimeout="30" cookieSlidingExpiration="true" cookieProtection="All" cookiePath="/" defaultProvider="RolSaglayici">
		  <providers>
			  <add name="RolSaglayici" type="System.Web.Security.SqlRoleProvider" connectionStringName="codingshop" applicationName="/"/>
		  </providers>
	  </roleManager>
  </system.web>
	<location path="kullanici.aspx">
	<system.web> 
		<authorization> 
				<deny users="?"/>
		</authorization>
	</system.web>
	</location>
	<location path="admin_panel.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="admin_kategoriler.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="kullanici_bilgi.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="kullanici_kontrol.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="rol_yoneticisi.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="tum_urunler.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="urun_ekle.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<connectionStrings>
		<add name="codingshop" connectionString="Data Source=CEYHUN\SQLEXPRESS;Initial Catalog=codingshop;Integrated Security=True;Connect Timeout=30;Encrypt=True; TrustServerCertificate=True;"  providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
	</appSettings>
</configuration>